<ion-content class="splash-container" [fullscreen]="true">
  <!-- Contenido principal del splash -->
  <div class="splash-content ion-padding">
    <!-- Logo hexagonal -->
    <div class="logo-container ion-margin-bottom">
      <img src="../../assets/icon/Memotest.png" />
    </div>

    <!-- Título de la app -->
    <div class="app-title-section ion-text-center ion-margin-bottom">
      <ion-title class="app-name" color="light">
        <h1>Juego de memoria</h1>
      </ion-title>
      <ion-text class="app-tagline" color="light">
        <p>Desafía tu mente</p>
      </ion-text>
    </div>
  </div>
</ion-content>
