<ion-content>
  <div class="header">
    <ion-icon name="person-circle"></ion-icon> <br />
    <div class="email">{{email}}</div>
    <ion-button (click)="logOut()"> Cerrar Sesión </ion-button>
  </div>
  <ion-button (click)="btnEstadisticas()" class="custom-button">
    <ion-icon name="stats-chart-outline"></ion-icon>
    Estadísticas
  </ion-button>

  <div class="box" *ngIf="!isLoadingStast">
    <div class="button-container">
      <button class="level-button easy" (click)="selectLevel('easy')">
        Nivel Fácil
      </button>
      <br />
      <button class="level-button medium" (click)="selectLevel('medium')">
        Nivel Medio
      </button>
      <br />
      <button class="level-button hard" (click)="selectLevel('hard')">
        Nivel Difícil
      </button>
    </div>
  </div>

  <div class="loading-spinner" *ngIf="isLoadingStast">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
